Source: pam-krb5-migrate
Section: admin
Priority: optional
Maintainer: Jelmer Vernooij <jelmer@debian.org>
Standards-Version: 3.9.5
Build-Depends: comerr-dev,
               debhelper (>= 5.0.70~),
               dh-autoreconf,
               heimdal-dev (>= 1.0.0) | heimdal-multidev (>= 1.4.0+git20110124.dfsg.1-2),
               libpam-dev,
               pkg-config
Vcs-Git: git://git.debian.org/users/jelmer/pam-krb5-migrate.git

Package: libpam-krb5-migrate-heimdal
Architecture: any
Depends: libpam-runtime (>= 1.0.1-6), ${misc:Depends}, ${shlibs:Depends}
Description: PAM module for migrating to Kerberos
 A stackable authentication module that takes a username and password from an
 earlier module in the stack and attempts to transparently add the user to a
 Kerberos realm using the Kerberos 5 kadmin service. The module can be used to
 ease the administrative burdens of migrating a large installed userbase from
 pre-existing authentication methods to a Kerberos-based setup.
 .
 This package allows updating the database of a remote Heimdal server.
