#!/usr/bin/make -f

%:
	dh --with autoreconf $*

override_dh_auto_configure:
	$(shell dpkg-buildflags --export=configure) KRB5CONFIG=krb5-config.heimdal CFLAGS="-fPIC $(shell dpkg-buildflags --get CFLAGS)" ./configure --prefix=/usr

override_dh_auto_clean:
	[ ! -f Makefile.settings ] || $(MAKE) distclean

override_dh_installchangelogs:
	dh_installchangelogs -a CHANGELOG
