#!/usr/bin/make -f
# Based loosely on debian/rules from libpam-heimdal
export DH_COMPAT=5

build: build-stamp
build-stamp: 
	dh_testdir
	$(MAKE) CFLAGS=-fPIC
	touch build-stamp

clean: clean1 
clean1:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	dh_install

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs README
	dh_installchangelogs CHANGELOG
	dh_installman pam_krb5_migrate.5
	dh_installexamples login.pam
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
